
.login-form {
  max-width: 300px;
  margin: 70px auto;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-facebook-button {
  width: 100%;
  margin-top: 10px;
  background-color: #4267B2;
}

@font-face {
  font-family: 'iconfont';  /* project id 366184 */
  src: url('//at.alicdn.com/t/font_31r0jayin2sxlxr.eot');
  src: url('//at.alicdn.com/t/font_31r0jayin2sxlxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_31r0jayin2sxlxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_31r0jayin2sxlxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_31r0jayin2sxlxr.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  float: left
}
